// new legend style
@layer components {
    .dash-top-left {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .dash-top-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        // background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.5rem;
        z-index: 1099;
    }

    .dash-top-logo {
        // width: 300px;
        font-size: 24px;
        color: #333;
    }

    .dash-top-buttons {
        height: 100%;
        // display: flex;
        // gap: 4px;
    }

    .dash-top-button {
        // height: 100%;
        padding: 10px 20px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        transition: background 0.3s;
        // border-radius: 5px;
    }

    .dash-top-button:hover {
        background-color: #ddd;
    }

    .dash-top-button.active {
        // background-color: #2b6cb0;
        background-color: #448457;
        color: white;
        font-weight: bold;
    }

    .dash-top-button-red {
        // height: 100%;
        padding: 10px 12px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        transition: background 0.3s;
        transition: all 0.1s ease-in-out;
        // border-radius: 5px;
    }

    .dash-top-button-red:hover {
        background-color: #ddd;
    }

    .dash-top-button-red.active {
        // transform: translateY(20%);
        background-color: #b02b38;
        color: white;
        font-weight: bold;
    }

    .dash-top-language {
        position: relative;
    }

    .language-button {
        padding: 10px 15px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
    }

    .language-button:hover {
        background-color: #ddd;
    }

    .language-dropdown {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        min-width: 120px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    }

    .language-dropdown.open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .language-option {
        padding: 10px;
        cursor: pointer;
        transition: background 0.3s;
    }

    .language-option:hover,
    .language-option.selected {
        background-color: #2b6cb0;
        color: white;
    }
}
