@layer components {
    .dashboard-container {
        display: flex;
        // height: 100vh; // 使地图和侧边栏共同占据整个屏幕高度
        display: flex;
        margin-top: 50px;
        height: calc(100vh - 50px);
    }

    .sidebar {
        width: 360px;
        background-color: #f8f9fa;
        overflow: hidden;
        transition: width 0.3s ease;

        &.collapsed {
            width: 50px;
        }

        h2 {
            font-weight: 600;
            // font-size: 34px;
        }

        // .toggle-btn {
        //     background: #007bff;
        //     color: white;
        //     border: none;
        //     cursor: pointer;
        //     width: 100%;
        //     padding: 10px;
        // }

        /* 固定按钮位置 */
        .toggle-btn {
            position: absolute;
            top: 20%;
            left: 360px;
            z-index: 1000; /* 确保按钮浮在地图之上 */
            padding: 5px 10px;
            background-color: #2d336b;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: left 0.3s ease;
        }
        &.collapsed .toggle-btn {
            left: 50px; /* 当 Side Bar 收起时，按钮的位置调整 */
            transition: 0.3s ease;
        }

        .sidebar-content {
            padding: 15px;
            display: flex;
            flex-direction: column;

            opacity: 0;
            transition: opacity 0.1s ease-in-out;

            &.visible {
                opacity: 1;
            }

            &.hidden {
                opacity: 0;
            }
        }
    }

    .map-container {
        flex-grow: 1;
        height: calc(100vh - 50px);
        position: relative;

        .scroll-to-details-btn {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            background: #2d336b;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            z-index: 999;
        }
    }

    .details-container {
        padding: 20px;
        background: #fff;
        border-top: 2px solid #ccc;
        text-align: center;

        .back-to-map-btn {
            background: #2d336b;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            margin-bottom: 15px;
        }

        .info-panel,
        .chart-panel {
            margin-top: 20px;
        }
    }

    .error-popup {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        z-index: 1000;
        animation: fadeOut 3s ease-in-out forwards;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    select {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        transition: all 0.1s ease-in-out;
        background-color: white;
        color: black;
        cursor: pointer;

        &:focus {
            outline: none;
            border-color: #2d336b;
            // border-width: 2px;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
    }

    option {
        padding: 10px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    select option:checked {
        background-color: #2d336b; // 选中项背景变蓝
        color: white; // 选中项文字变白
    }
}

// @layer components {
//     // START: tooltip styles for legends
//     .legend-item {
//         display: flex;
//         flex-direction: column;
//         align-items: center; /* 让问号、颜色块、文本都居中 */
//         margin-bottom: 8px;
//     }

//     /* 第一行内容：问号图标 + 颜色块 */
//     .legend-top {
//         display: flex;
//         align-items: center;
//         gap: 8px; /* 间距 */
//         padding: 6px;
//     }

//     /* 美观的问号图标 */
//     .info-icon {
//         cursor: pointer;
//         font-size: 14px;
//         color: white;
//         background-color: #2d336b;
//         border-radius: 50%;
//         width: 18px;
//         height: 18px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         font-weight: bold;
//         position: relative;
//     }

//     .info-icon:hover {
//         background-color: #0056b3;
//     }

//     /* 颜色块 */
//     .color-box {
//         width: max(100px, 8vw);
//         height: 20px;
//         border: 2px solid #000;
//     }

//     /* 文字标签 */
//     .legend-text {
//         font-size: 14px;
//         text-align: center;
//         // margin-top: 4px;
//     }

//     /* Tooltip 默认隐藏，并加上透明度和位移动画 */
//     .tooltip {
//         width: 10vw;
//         position: absolute;
//         left: -500%;
//         top: 50%;
//         transform: translateY(-50%) translateX(0%);
//         background-color: #2d336b;
//         color: white;
//         padding: 6px 10px;
//         border-radius: 5px;
//         font-size: 14px;
//         opacity: 0;
//         visibility: hidden;
//         transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
//             visibility 0.3s ease-in-out;
//     }

//     /* 鼠标悬停时显示 Tooltip，透明度和位移动画 */
//     .info-icon:hover .tooltip {
//         opacity: 1;
//         visibility: visible;
//         transform: translateY(-50%) translateX(0px);
//     }
// }

// new legend style
@layer components {
    .legend-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        position: absolute;
        right: 1%;
        bottom: 0;
        z-index: 1000;
    }

    .legend-item {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .color-box {
        width: 20px;
        height: 30px;
        border: 1px solid #000;
        flex-shrink: 0;
    }

    .legend-text {
        margin-left: 10px;
        font-size: 14px;
        // font-weight: 500;
        white-space: nowrap;
    }

    .info-icon {
        margin-right: 5px;
        cursor: pointer;
        font-size: 14px;
        color: #333;
        background: #ddd;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: relative;
    }

    /* 鼠标悬停时显示 Tooltip，透明度和位移动画 */
    .info-icon:hover .tooltip {
        opacity: 1;
        visibility: visible;
        transform: translateY(-50%) translateX(0px);
    }

    /* Tooltip 默认隐藏，并加上透明度和位移动画 */
    .tooltip {
        width: 10vw;
        position: absolute;
        left: -500%;
        top: 50%;
        transform: translateY(-50%) translateX(0%);
        background-color: #2d336b;
        color: white;
        padding: 6px 10px;
        border-radius: 5px;
        font-size: 14px;
        opacity: 0;
        z-index: 1000;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
            visibility 0.3s ease-in-out;
    }

    .info-icon:hover .tooltip {
        display: block;
    }
}

// START: 日期选择器样式
.date-mainshow-container {
    position: absolute;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    // background: rgba(255, 255, 255, 0.9);
    padding: 20px 20px;
    border-radius: 8px;
    // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 20px;
    z-index: 1000;
}

.date-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.date-picker label {
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}

.date-picker select {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
    background: white;
    cursor: pointer;
}

.date-selector-text-box {
    // text-align: right;
    width: 70px;
}
// END: 日期选择器样式

// START: legend样式

// END: legend样式
