@layer components {
    .dashboard-container {
        display: flex;
        // height: 100vh; // 使地图和侧边栏共同占据整个屏幕高度
        display: flex;
        margin-top: 50px;
        height: calc(100vh - 50px);
    }

    .sidebar {
        width: 300px;
        background-color: #f8f9fa;
        overflow: hidden;
        transition: width 0.3s ease;

        &.collapsed {
            width: 50px;
        }

        h2 {
            font-weight: 600;
        }

        // .toggle-btn {
        //     background: #007bff;
        //     color: white;
        //     border: none;
        //     cursor: pointer;
        //     width: 100%;
        //     padding: 10px;
        // }

        /* 固定按钮位置 */
        .toggle-btn {
            position: absolute;
            top: 20%;
            left: 300px;
            z-index: 1000; /* 确保按钮浮在地图之上 */
            padding: 5px 10px;
            background-color: #2d336b;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: left 0.3s ease;
        }
        &.collapsed .toggle-btn {
            left: 50px; /* 当 Side Bar 收起时，按钮的位置调整 */
            transition: 0.3s ease;
        }

        .sidebar-content {
            padding: 15px;
            display: flex;
            flex-direction: column;

            opacity: 0;
            transition: opacity 0.1s ease-in-out;

            &.visible {
                opacity: 1;
            }

            &.hidden {
                opacity: 0;
            }
        }
    }

    .map-container {
        flex-grow: 1;
        height: calc(100vh - 50px);
        position: relative;

        .scroll-to-details-btn {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            background: #2d336b;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            z-index: 999;
        }
    }

    .details-container {
        padding: 20px;
        background: #fff;
        border-top: 2px solid #ccc;
        text-align: center;

        .back-to-map-btn {
            background: #2d336b;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            margin-bottom: 15px;
        }

        .info-panel,
        .chart-panel {
            margin-top: 20px;
        }
    }

    .error-popup {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        z-index: 1000;
        animation: fadeOut 3s ease-in-out forwards;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    select {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        transition: all 0.1s ease-in-out;
        background-color: white;
        color: black;
        cursor: pointer;

        &:focus {
            outline: none;
            border-color: #2d336b;
            // border-width: 2px;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
    }

    option {
        padding: 10px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    select option:checked {
        background-color: #2d336b; // 选中项背景变蓝
        color: white; // 选中项文字变白
    }
}
