@layer components {
    .dateType-selector-button {
        width: 33%;
        background: #fff;
        border: 2px solid #eee;
        border-radius: 6px;
        padding: 8px 6px;
        margin-bottom: 4px;
        cursor: pointer;
        text-align: center;
        font-size: $base-size;
        transition: background 0.2s ease-in-out;

        &:hover {
            background: #edf2f7;
        }
    }

    .dateType-selector-button.active {
        background: #2b6cb0;
        color: #fff;
        font-weight: bold;
    }

    .date-mainshow-container {
        position: absolute;
        font-size: $h2-size;
        font-weight: 600;
        color: #333;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        // background: rgba(255, 255, 255, 0.9);
        padding: 20px 20px;
        border-radius: 8px;
        // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        gap: 20px;
        z-index: 1000;
    }

    .date-picker-list {
        display: flex;
        flex-direction: row;
        align-items: center;

        .variable-item {
            background: #fff;
            border: none;
            padding: 8px 6px;
            border-radius: 4px;
            cursor: pointer;
            text-align: left;
            font-size: $base-size;
            transition: background 0.2s ease-in-out;

            &:hover {
                background: #edf2f7;
            }

            &.selected {
                background: #2b6cb0;
                color: #fff;
                font-weight: bold;
            }
        }
    }

    .date-picker {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .date-picker label {
        font-size: $small-size;
        font-weight: 600;
        margin-right: 5px;
    }

    .date-picker select {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 6px 12px;
        font-size: $base-size;
        background: white;
        cursor: pointer;
    }

    .date-selector-text-box {
        display: flex;
        align-items: center;
        width: 60px;
    }
    // END: 日期选择器样式
}
