// new legend style
@layer components {
    .legend-container {
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        position: absolute;
        // right: -50%;
        bottom: 20%;
        z-index: 1000;
    }

    .legend-item {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .color-box {
        width: 20px;
        height: 30px;
        border: 1px solid #000;
        flex-shrink: 0;
    }

    .legend-text {
        margin-left: 10px;
        font-size: 14px;
        // font-weight: 500;
        white-space: nowrap;
    }

    .info-icon {
        margin-right: 5px;
        cursor: pointer;
        font-size: 14px;
        color: #333;
        background: #ddd;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: relative;
    }

    /* 鼠标悬停时显示 Tooltip，透明度和位移动画 */
    .info-icon:hover .tooltip {
        opacity: 1;
        visibility: visible;
        transform: translateY(-50%) translateX(0px);
    }

    /* Tooltip 默认隐藏，并加上透明度和位移动画 */
    .tooltip {
        width: 150px;
        position: absolute;
        left: -150px;
        top: 50%;
        transform: translateY(-50%) translateX(0%);
        background-color: #2d336b;
        color: white;
        padding: 6px 10px;
        border-radius: 5px;
        font-size: 14px;
        opacity: 0;
        z-index: 1000;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
            visibility 0.3s ease-in-out;
    }

    .info-icon:hover .tooltip {
        display: block;
    }
}
