@layer components {
    .legend-container {
        position: absolute;
        left: 2%;
        bottom: 2%;
        // transform: translateX(-50%);

        background: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border-radius: 5px;
        font-family: $body-font;
        font-size: $base-size;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1010;
    }

    .legend-default {
        width: 20rem;
    }

    .legend-title {
        font-family: $title-font;
        font-size: $base-size;
        font-weight: 700;
        color: #333;
        text-align: center;
        margin-bottom: 5px;
    }

    .legend-gradient {
        width: 100%;
        height: 20px;
        border: 1px solid #000;
        margin-bottom: 5px;
    }

    .legend-labels {
        display: flex;
        justify-content: space-between;
        font-size: $base-size;
    }
}
